FEC_QualifiedDataType_7p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Hans van Rossen (Edibulb) -->
<!-- ====================================================================== -->
<!-- ===== Qualified DataType Schema Module                           ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  Florecom
Schema version: 7.0
Schema date:    4 mei 2012

Copyright (C) Florecom (2011). All Rights Reserved.

20090814 HvR 
- New codelist reference TotalTypecode.

20100402 HvR
- new qualified DataType v5 : FEQDT v4 to v5 reason: new version StatusConditionCodelist.
- StatusConditionCodes from v1.0 to v2.0: added UN statuscodes from http://www.unece.org/uncefact/codelist/standard/UNECE_StatusCode_D09A.xsd
- TotalTypeCodes from v1.0 to v2.0: added 449 total quoted quantity

20110510 HvR
- MarketFormCodes from v1.0 to v2.0: added 5,6,7 (Catalog, Intermediation, Forward, Tender, Contract)

20120426 HvR
- Added Placementtype for use in Labelmessage

20120507 HvR
- TradeConditionCodes from v1.0 to v2.0: added 301 to 314 and zzz.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:feqdt="urn:fec:florecom:xml:data:draft:QualifiedDataType:7" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:clmFECStatusCondition20="urn:fc:florecom:xml:codelist:draft:StatusCondition:2:0" xmlns:clmFECTradeCondition20="urn:fc:florecom:xml:codelist:draft:TradeCondition:2:0" xmlns:clmFECStatusReason10="urn:fc:florecom:xml:codelist:draft:StatusReason:1:0" xmlns:clmFECMarketForm20="urn:fc:florecom:xml:codelist:draft:MarketForm:2:0" xmlns:clmFECTradeItem10="urn:fc:florecom:xml:codelist:draft:TradeItem:1:0" xmlns:clmFECTotalType20="urn:fc:florecom:xml:codelist:draft:TotalType:2:0" xmlns:clmFECPositionUsage10="urn:fc:florecom:xml:codelist:draft:PositionUsage:1:0" xmlns:clmFECImageCategory10="urn:fc:florecom:xml:codelist:draft:ImageCategory:1:0" xmlns:clmFECImageSubject10="urn:fc:florecom:xml:codelist:draft:ImageSubject:1:0" xmlns:clmFECPlacement10="urn:fc:florecom:xml:codelist:draft:Placement:1:0" targetNamespace="urn:fec:florecom:xml:data:draft:QualifiedDataType:7" elementFormDefault="qualified" attributeFormDefault="unqualified" version="7.0">
	<!-- ======================================================================= -->
	<!-- ===== Imports                                                     ===== -->
	<!-- ======================================================================= -->
	<!-- ===== Imports of Code Lists                                 ===== -->
	<!-- ======================================================================= -->
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:StatusReason:1:0" schemaLocation="https://vanderhoek.github.io/FEC_StatusReasoncode_1.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:StatusCondition:2:0" schemaLocation="https://vanderhoek.github.io/FEC_StatusConditioncode_2.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:TradeCondition:2:0" schemaLocation="https://vanderhoek.github.io/FEC_TradeConditioncode_2.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:MarketForm:2:0" schemaLocation="https://vanderhoek.github.io/FEC_MarketFormcode_2.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:TradeItem:1:0" schemaLocation="https://vanderhoek.github.io/FEC_TradeItemcode_1.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:PositionUsage:1:0" schemaLocation="https://vanderhoek.github.io/FEC_PositionUsagecode_1.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:ImageCategory:1:0" schemaLocation="https://vanderhoek.github.io/FEC_ImageCategorycode_1.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:ImageSubject:1:0" schemaLocation="https://vanderhoek.github.io/FEC_ImageSubjectcode_1.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:TotalType:2:0" schemaLocation="https://vanderhoek.github.io/FEC_TotalTypecode_2.xsd"/>
	<xsd:import namespace="urn:fc:florecom:xml:codelist:draft:Placement:1:0" schemaLocation="https://vanderhoek.github.io/FEC_Placementcode_1.xsd"/>
	<!-- ================================================================== -->
	<!-- ===== Type Definitions                                       ===== -->
	<!-- ================================================================== -->
	<!-- ===== Type Definition: StatusReasonCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="StatusReasonCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Status. Reason. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A 3 digit code used to represent a status condition.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Status Reason Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECStatusReason10:StatusReasonCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: StatusConditionCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="StatusConditionCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Status. Condition. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A 3 digit code used to represent a status condition.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Status Condition Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECStatusCondition20:StatusConditionCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: TradeConditionCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="TradeConditionCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Trade. Condition. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A 3 digit code used to represent a status condition.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Trade Condition Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECTradeCondition20:TradeConditionCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: MarketFormCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="MarketFormCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Market. Form. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A 3 digit code used to represent a Market Form.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Market Form Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECMarketForm20:MarketFormCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: TradeItemCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="TradeItemCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Trade. Item. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A code for defining the kind of TradeItem.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Trade Item Code Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECTradeItem10:TradeItemCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: TotalTypeCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="TotalTypeCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Total. Type. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A code for defining the kind of Total.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Total Code Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECTotalType20:TotalTypeCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: PositionUsageCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="PositionUsageCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Position. Usage. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A code for defining the usage of a position on a loadcarrier or within a package.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Position Usage Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECPositionUsage10:PositionUsageCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: ImageCategoryCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="ImageCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Image. Form. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A code for defining the form of Image</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Image Form Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECImageCategory10:ImageCategoryCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: ImageSubjectCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="ImageSubjectCodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Image. Type. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A code for defining the type of Image</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Image Type Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECImageSubject10:ImageSubjectCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: ImageSubjectCodeType          ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="PlacementType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FExxxxxx</ccts:UniqueID>
				<ccts:Acronym>DT</ccts:Acronym>
				<ccts:DictionaryEntryName>Placement. Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>1.0</ccts:Version>
				<ccts:Definition>A code for defining the placemnet of a label on a product or logistic item</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType/>
				<ccts:DataTypeQualifierTerm>Placement Type</ccts:DataTypeQualifierTerm>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="clmFECPlacement10:PlacementCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
