Supply_0p7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Hans van Rossen (Agritect) -->
<!-- ====================================================================== -->
<!-- =====  Supply Schema Module                      ===== -->
<!-- ====================================================================== -->
<!--Schema agency:   Florecom
Schema version:  0.7
Schema date:     7 mei 2012

Copyright (C) Florecom (2012). All Rights Reserved.

Sierteelt Supply

20090811 HvR Imported new FEC library RABIE 1p3
20100113 HvR SupplyType | SupplyTradeLineItem minOccurs from 1 to 0
20100402 HvR Added ImageLine, Unbounded StatusType, TradeTotal see new Library RABIE3p0
20100517 HvR Added DocumentStatus in SupplyRequestDetails / Upgrade to UN QDT version 7.0
20110510 HvR Moves SupplyRequestType from feram to asm namespace. / Upgrade to new Florecom library RABIE4p0
20120507 HvR Upgrade to new Florecom library RABIE5p0. 
20120612 HvR Upgrade to new Florecom library RABIE6p0.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:asm="urn:fec:florecom:xml:data:draft:SupplyStandardMessage:7" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:3" xmlns:feram="urn:fec:florecom:xml:data:draft:ReusableAggregateBusinessInformationEntity:6" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:4" xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:7" xmlns:ccts="urn:un:unece:uncefact:data:standard:CoreComponentsTechnicalSpecification:2" targetNamespace="urn:fec:florecom:xml:data:draft:SupplyStandardMessage:7" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.7">
	<!-- ======================================================================= -->
	<!-- =====  Imports                                                     ==== -->
	<!-- =================================================================================== -->
	<!-- =====  Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
	<!-- ===================================================================================-->
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:4" schemaLocation="https://vanderhoek.io/UnqualifiedDataType_4p0.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===== Import of Qualified DataType Schema Module                  ===== -->
	<!-- ======================================================================= -->
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:7" schemaLocation="https://vanderhoek.io/QualifiedDataType_7p0.xsd"/>
	<!-- ================================================================================== -->
	<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
	<!-- ================================================================================== -->
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:3" schemaLocation="https://vanderhoek.io/ReusableAggregateBusinessInformationEntity_3p0.xsd"/>
	<!-- ====================================================================================== -->
	<!-- ===== Import of FEC Reusable Aggregate Business Information Entity Schema Module ===== -->
	<!-- ====================================================================================== -->
	<xsd:import namespace="urn:fec:florecom:xml:data:draft:ReusableAggregateBusinessInformationEntity:6" schemaLocation="https://vanderhoek.io/FEC_ReusableAggregateBusinessInformationEntity_6p0.xsd"/>
	<!-- ======================================================================= -->
	<!-- =====  Element Declarations                                       ===== -->
	<!-- ======================================================================= -->
	<!-- =====  Root Element Declarations for email                        ===== -->
	<!-- ======================================================================= -->
	<xsd:element name="Supply" type="asm:SupplyType"/>
	<xsd:element name="GetSupply" type="asm:SupplyRequestType"/>
	<xsd:element name="Acknowledge" type="asm:SupplyAcknowledgementType"/>
	<!-- ======================================================================= -->
	<!-- =====  Root Element Declarations for webservices                  ===== -->
	<!-- ======================================================================= -->
	<xsd:element name="PutSupplyRequest" type="asm:PutSupplyMessage">
		<xsd:annotation>
			<xsd:documentation>Indienen Supply Request</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PutSupplyResponse" type="asm:PutSupplyResponseMessage">
		<xsd:annotation>
			<xsd:documentation>Indienen Supply Response</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplyRequest" type="asm:SupplyRequestMessage">
		<xsd:annotation>
			<xsd:documentation>Opvragen Supply Request</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplyResponse" type="asm:SupplyResponseMessage">
		<xsd:annotation>
			<xsd:documentation>Opvragen Supply Response</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--================================================================== -->
	<!--=====  Type Definitions                                      ===== -->
	<!--================================================================== -->
	<!--=====  Type Definitions: SupplyAcknowledgement                           ===== -->
	<!--================================================================== -->
	<xsd:complexType name="SupplyAcknowledgementType">
		<xsd:sequence>
			<xsd:element name="SupplyAcknowledge" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ReferencedDocument" type="ram:ReferencedDocumentType"/>
						<xsd:element name="SupplyResult" type="udt:IndicatorType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--================================================================== -->
	<!--=====  Type Definitions: SupplyRequestMessage                         ===== -->
	<!--================================================================== -->
	<xsd:complexType name="SupplyRequestMessage">
		<xsd:sequence>
			<xsd:element name="Header">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UserName" type="udt:TextType" minOccurs="0"/>
						<xsd:element name="Password" type="udt:TextType" minOccurs="0"/>
						<xsd:element name="MessageID" type="udt:IDType"/>
						<xsd:element name="MessageDateTime" type="udt:DateTimeType"/>
						<xsd:element name="MessageSerial" type="udt:NumericType"/>
						<xsd:element name="ReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Body">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SupplyRequestDetails" type="asm:SupplyRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--================================================================== -->
	<!--=====  Type Definitions:SupplyRequestType                           ===== -->
	<!--================================================================== -->
	<xsd:complexType name="SupplyRequestType">
		<xsd:sequence>
			<xsd:element name="AgentParty" type="feram:AgentPartyType" minOccurs="0"/>
			<xsd:element name="SupplyRequestLine" type="feram:SupplyRequestLineType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--================================================================== -->
	<!--=====  Type Definitions: SupplyResponseMessage                          ===== -->
	<!--================================================================== -->
	<xsd:complexType name="SupplyResponseMessage">
		<xsd:sequence>
			<xsd:element name="Body">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SupplyResponseDetails" type="asm:SupplyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--================================================================== -->
	<!--=====  Type Definitions: SupplyType                           ===== -->
	<!--================================================================== -->
	<xsd:complexType name="SupplyType">
		<xsd:sequence>
			<xsd:element name="AgentParty" type="feram:AgentPartyType" minOccurs="0"/>
			<xsd:element name="SupplyTradeLineItem" type="feram:SupplyTradeLineItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--================================================================== -->
	<!--=====  Type Definitions: PutSupplyMessage                         ===== -->
	<!--================================================================== -->
	<xsd:complexType name="PutSupplyMessage">
		<xsd:sequence>
			<xsd:element name="Header">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UserName" type="udt:TextType" minOccurs="0"/>
						<xsd:element name="Password" type="udt:TextType" minOccurs="0"/>
						<xsd:element name="MessageID" type="udt:IDType"/>
						<xsd:element name="MessageDateTime" type="udt:DateTimeType"/>
						<xsd:element name="MessageSerial" type="udt:NumericType"/>
						<xsd:element name="ReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Body">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PutSupplyRequestDetails" type="asm:SupplyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--================================================================== -->
	<!--=====  Type Definitions: PutSupplyResponseMessage                           ===== -->
	<!--================================================================== -->
	<xsd:complexType name="PutSupplyResponseMessage">
		<xsd:sequence>
			<xsd:element name="Body">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PutSupplyResponseDetails" type="asm:SupplyAcknowledgementType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
